docker-compose*.yml

makefile

requirements.dev.txt
requirements.txt

.idea

env
venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python

pip-log.txt
pip-delete-this-directory.txt

.tox
.coverage
.coverage.*
.cache

nosetests.xml
coverage.xml
*,cover
*.log

.git
.gitignore

*.md